<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src='scripts/script.js'></script>
</head>
<body>
  May Node and Express be with you.

  <div class='container-fluid'>
    <div class='row'>
      <div class='col1 col-lg-6'>
        <!-- #1 -->
        <div class="pre-scrollable wrap-list">
          <div class='list-group'><!-- слова данной группы -->
            <% for(var i=0; i<noun.length; i++) {%>
              <a class='list-group-item word' href='#' eng_word=<%= noun[i].eng_word %>>
                <%= noun[i].rus_word %>
              </a>
              <%} %>
          </div>
        </div>
        <div class='to-bottom eng-word'><!--fixed-bottom-->
          <div>
            Подлежащее
          </div>
          <span class='english'>
            <!-- word -->
          </span>
        </div>

      </div>
      <div class='col2 col-lg-6'>
        <!-- #2 -->
        <div class="pre-scrollable wrap-list">
          <div class='list-group'><!-- слова данной группы -->
            <% for(var i=0; i<verb.length; i++) {%>
              <a class='list-group-item word' href='#' eng_word=<%= verb[i].eng_word %>>
                <%= verb[i].rus_word %>
              </a>
              <%} %>
          </div>
        </div>
        <div class='to-bottom eng-word'><!--fixed-bottom-->
          <div>
            Сказуемое
          </div>
          <span class='english'>
            <!-- word -->
          </span>
        </div>

      </div>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
