<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="scripts/jquery-3.2.1.js"></script>
  <script src='scripts/script.js'></script>
</head>
<body>
  May Node and Express be with you.

  <div class='container-fluid'>
    <div class='row'>
      <div part_sentence='podl' class='col1 podl col-lg-6'>
        <!-- #1 -->
        <div class="pre-scrollable wrap-list">
          <div>
            <div class='list-group'><!-- группы -->
            </div>
            <div class='list-group'><!-- слова данной группы -->
            </div>
          </div>
        </div>
        <div class='to-bottom eng-word'><!--fixed-bottom-->
          <div>
            Подлежащее
          </div>
          <div class='english'>
            <!-- word -->
          </div>
        </div>

      </div>
      <div part_sentence='skaz' class='col2 skaz col-lg-6'>
        <!-- #2 -->
        <div class="pre-scrollable wrap-list">
          <div>
            <div class='list-group'><!-- слова данной группы -->
            </div>
            <div class='list-group'><!-- слова данной группы -->
            </div>
          </div>
        </div>
        <div class='to-bottom eng-word'><!--fixed-bottom-->
          <div>
            Сказуемое
          </div>
          <div class='english'>
            <!-- word -->
          </div>
        </div>

      </div>
    </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
